@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bigelow+Rules&family=Dancing+Script&family=Merriweather&family=Montserrat&family=Open+Sans&family=Poppins&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
